body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ff0000,#000000, #000dff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: transparent;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 1px 1px 30px #ffffff;
  width: 350px;
}



h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

input {
  width: 92%;
  padding: 12px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}
select {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #2f00ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1fec4f;
}

p {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}
