# Node / React
node_modules/
dist/
*.log

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
/media/
staticfiles/
*.pot
*.py[cod]
*.mo

# Environment
.env

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific
.DS_Store
Thumbs.db
